@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
.headfont{
  font-family: 'Cormorant Garamond', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.headDisplay{
  font-family: 'Lobster', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.headDisplaypara{
  font-family: 'Satisfy', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@600&display=swap');
.profilefont{
  font-family: 'Noto Rashi Hebrew', serif;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
.addprodheading{
  font-family: 'PT Serif', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.proddisname{
  font-family: 'Roboto Slab', serif;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
.produnctsfont{
  font-family: 'IBM Plex Serif', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
.adminprodfont{
  font-family: 'Roboto Slab', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.noitemsmsg{
  font-family: 'Roboto Slab', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.textfonts{
  font-family: 'Varela Round', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
.headertextstyle{
  font-family: 'Noto Nastaliq Urdu', serif;
}